body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
}

.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display:flex;
    gap: 8px;
}